.grid {
    border-left: solid 1px #e5e5e5;
    padding-left: 1.042%;
    padding-right: 1.042%;
    height: 103px;
    float: left;
    margin-top: 21px;
}

.header {
    background: url("https://www.autozone.com/images/common/arrow-right-orange-sm.gif") no-repeat right;
    padding-right: 15px;
    color: #202124;
    font-size: 12px; /* autozone's site has a smaller size font */
    font-weight: bold;
    margin-left: 10px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.mycartimage {
    margin-left: 10px;
    margin-top: 7px;
}

.number {
    position: absolute;
    z-index: 1000;
    top: 46px;
    left: 921px;
    color: white;
    font-size: 10px;
    font-weight: bold;
}
